/* styles.module.css */
.formContainer {
  width: 300px;
  margin: 0 auto;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%; /* Make the button take the full width of the container */
}
